.formas-de-doar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

.box-forma-doacao {
    position: relative;
    padding: 2em;
    border: 1px solid;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}